/*clear sheet*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root {
    --super-dg: rgb(54, 72, 50);
    --light-green: #AABC5C;
    --dark-green: #565F29;
    --white: #F2F3EE;
    --orange: #FAA32F;
    --bright-pink: #DA1C5C;
    --light-pink: #FABEB7;
    --main-title: "Arima", system-ui;
    --sub-title: "Google Sans Flex", sans-serif;
    --main-text: sans-serif;

}

    /* main fonts imported */
    .arima-uniquifier {
        font-family: "Arima", system-ui;
        font-weight: bold;
        font-style: normal;
      }

      .google-sans-flex-uniquifier {
        font-family: "Google Sans Flex", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "slnt" 0,
          "wdth" 100,
          "GRAD" 0,
          "ROND" 0;
      }


      body{
        font-family: var(--main-text);
        padding-top: 2.5rem;
      background: var(--white);
      }

      html, body {
        max-width: 100%;
        overflow-x: hidden;
      }

/*-----  dark-mode changes ----*/
      body.dark-mode{
        background-color: var(--dark-green);
        color: var(--white);
      }

body.dark-mode header {
  background: var(--super-dg);
}

body.dark-mode .plants{
  color: black;
}

body.dark-mode #shop{
  background: var(--super-dg);
}

body.dark-mode .tips{
  color: black;
}

body.dark-mode #about{
  background: var(--super-dg);
}
/*----------------------------*/


      #color-mode{
        margin-right: 3rem;
        width: 12%;
        height: auto;
        cursor: pointer;
        background: var(--white);
        border-radius: 4.5rem;
        border: 1px solid var(--bright-pink);
      }
    
      h1, h2{
        font-family: var(--main-title);
      }
    
      h3{
        font-family: var(--sub-title);
      }

      a {
        font-family: var(--sub-title);
      }
      
    #skip {
    color: black;
    background: var(--white);
    display: block;
    width: 100%;
    padding: .75rem;
    position: absolute;
    top: 0;
    left: 0rem;
    padding-left: 2.5rem;
    }

    header{
      background: var(--dark-green);
      color: var(--white);
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    .header-left{
      display: flex;
      align-items: center;
    }

    .header-left img{
      width: 80px;
      height: auto;
    }

    h1{
      font-size: 25pt;
      margin-top: .5rem;
      font-weight: bold;
    }

    .header-right{
      display: flex;
      align-items: center;
    }

    header nav ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      margin-right: .5rem;
    }

    header nav ul li a img {
      width: 25px;
      height: auto;
      vertical-align: middle;
    }

    header ul a {
      text-decoration: none;
      color: var(--white);
      margin-right: 1rem;
    }

    ul li {
      margin-top: .5rem;
    }

    header nav ul li a img {
      filter: invert(1);
      margin-top: -.3rem;
    }

    #storefront {
      width: 1375px;
      height: 950px;
      margin: 0 2rem;
    }

    #shop{
      background: var(--dark-green);
      padding-bottom: 1.5rem;
    }

    #shop h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2.5rem 0 1rem 0;
      color: var(--white);
      padding-top: 2rem;
    }

    #grid-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem .015rem;
      padding-top: .5rem;
    }

    .plants{
      background: white;
      margin: 0 1rem 0 1rem;
      border-radius: 10px;
      border: 2px solid var(--dark-green);
    }

    .plants h3{
      font-family: var(--sub-title);
      font-size: 18pt;
      margin: 0 0 1rem 2rem;
      padding-top: 1rem;
      font-weight: bold;
    }

    .plants img{
      width: 200px;
      height: auto;
      border-radius: 5px;
      float: left;
      margin: 0 1rem 1rem 2rem;
    }

    .plants h4{
      font-family: var(--main-text);
      font-size: 14pt;
      flex: 1;
      font-weight: bold;
      margin-bottom: .25rem;
    }

    .plants p{
      font-family: var(--main-text);
      font-size: 13pt;
      margin: .5rem;
    }

    .plants h5{
      font-family: var(--main-text);
      font-size: 13pt;
      font-weight: bold;
      margin-top: .5rem;
    }

    .plants button{
      float: right;
      margin: .5rem 7rem 1rem 0;
    }

    #learn{
      padding-bottom: 4rem;
    }

    #learn h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2.5rem 0 1.5rem 0;
      padding-top: 1.5rem;
    }

    #learn-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .15rem;
      justify-items: center;
      max-width: 85%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    .tips{
      background: white;
      border-radius: 10px;
      border: 2px solid var(--dark-green);
      width: 95%;
      height: 105%;
      padding-left: 1rem;
    }

    .learn-float{
      display: flex;
    }

    .tips img{
      width: 40%;
      height: auto;
      margin-left: 1rem;
      border-radius: 10px;
    }

    .tips h3{
      font-family: var(--sub-title);
      font-size: 18pt;
      margin: 1.5rem 0 1rem 1rem;
    }

    .tips p{
      font-family: var(--main-text);
      font-size: 13pt;
      line-height: 1.5rem;
      margin: 0 2rem 0 1rem;
    }

    .tips a{
      display: block;
      text-align: center;
      margin: 0.5rem 0 0 1.35rem;
      color: black;
    }

    #about{
      padding: 4rem 0 3rem 0;
      background: var(--dark-green);
    }

    #about h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: var(--white);
    }

    #about p{
      font-family: var(--main-text);
      font-size: 13pt;
      margin: 0 15rem;
      text-align: center;
      color: var(--white);
    }

    #about img{
      width: 6%;
      height: auto;
      display: block;
      margin: 0 auto;
    }

    #contact h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2.5rem 0 1.5rem 0;
      padding-top: 1.5rem;
    }

    label, fieldset{
      font-family: var(--sub-title);
      font-size: 16pt;
    }

    label{
      margin-left: 3rem;
      color: var(--white);
    }

    #top{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 1rem;
      margin-right: 3rem;
    }

    #bottom{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-right: 3rem;
    }

    fieldset{
      text-align: center;
      margin-top: 2rem;
    }

    form{
      background: var(--dark-green);
      margin: 0 15rem;
      padding: 3rem 2rem 2rem 2rem;
      border-radius: 2rem;
    }

    legend{
      color: var(--white);
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    #submit input{
      display: block;
      margin: 1rem auto;
      color: var(--dark-green);
      background: var(--white);
      padding: .5rem 2.5rem;
      border-radius: 1rem;
    }