/*clear sheet*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root {
    --super-dg: rgb(54, 72, 50);
    --light-green: #AABC5C;
    --dark-green: #565F29;
    --white: #F2F3EE;
    --orange: #FAA32F;
    --bright-pink: #DA1C5C;
    --light-pink: #FABEB7;
    --main-title: "Arima", system-ui;
    --sub-title: "Google Sans Flex", sans-serif;
    --main-text: sans-serif;

}

    /* main fonts imported */
    .arima-uniquifier {
        font-family: "Arima", system-ui;
        font-weight: bold;
        font-style: normal;
      }

      .google-sans-flex-uniquifier {
        font-family: "Google Sans Flex", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "slnt" 0,
          "wdth" 100,
          "GRAD" 0,
          "ROND" 0;
      }


      body{
        font-family: var(--main-text);
      background: var(--white);
      }

      html, body {
        max-width: 100%;
        overflow-x: hidden;
      }

/*-----  dark-mode changes ----*/
      body.dark-mode{
        background-color: var(--dark-green);
        color: var(--white);
      }

body.dark-mode header {
  background: var(--super-dg);
}

body.dark-mode .plants{
  color: black;
}

body.dark-mode .tips{
  color: black;
}

body.dark-mode #about{
  background: var(--super-dg);
}

body.dark-mode #contact{
  background: var(--super-dg);
}

body.dark-mode footer{
  background: var(--super-dg);
}

body.dark-mode .skip-to-next{
  color: var(--dark-green);
}

body.dark-mode #cart-shop{
  border-bottom: 2px solid var(--super-dg);
}
/*----------------------------*/


      #color-mode{
        margin-right: 3rem;
        width: 12%;
        height: auto;
        cursor: pointer;
        background: var(--white);
        border-radius: 4.5rem;
        border: 1px solid var(--bright-pink);
      }

      #screen-size{
        width: 1280px;
      }
    
      h1, h2{
        font-family: var(--main-title);
      }
    
      h3{
        font-family: var(--sub-title);
      }

      a {
        font-family: var(--sub-title);
      }
      
    #skip {
    color: black;
    background: var(--white);
    display: block;
    width: 100%;
    padding: .75rem;
    position: absolute;
    top: 0;
    left: 0rem;
    padding-left: 2.5rem;
    font-family: var(--sub-title);
      font-size: 13pt;
    }

    #skip:hover{
      color: var(--dark-green);
    }

    main img{
      border-radius: 2rem;
    }

    header{
      background: var(--dark-green);
      color: var(--white);
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      position: fixed;
      padding-top: 3rem;
    }

    .header-left{
      display: flex;
      align-items: center;
    }

    .header-left img{
      width: 80px;
      height: auto;
    }

    h1{
      font-size: 25pt;
      margin-top: .5rem;
      font-weight: bold;
    }

    .header-right{
      display: flex;
      align-items: center;
    }

    header nav ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      margin-right: .5rem;
    }

    header nav ul li a img {
      width: 25px;
      height: auto;
      vertical-align: middle;
    }

    header ul a {
      text-decoration: none;
      color: var(--white);
      margin-right: 1rem;
    }

    header ul a:hover{
      color: var(--super-dg);
    }

    ul li {
      margin-top: .5rem;
    }

    header nav ul li a img {
      filter: invert(1);
      margin-top: -.3rem;
    }

    #storefront {
      width: 1120px;
      height: 950px;
      margin: 0 auto 4rem;
      display: block;
    }

    #shop-header{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2rem 0 .5rem 0;
      background: var(--super-dg);
      display: block;
      padding: 1rem 0;
      color: var(--white);
    }

    #cart-dropdown{
      border: 2px solid var(--dark-green);
      border-radius: 1rem;
      margin: .5rem 6rem 27rem 6rem;
      background: var(--dark-green);
    }

    #cart-dropdown h2{
      font-family: var(--main-title);
      font-size: 22pt;
      font-weight: bold;
      margin-top: 2.35rem;
      text-align: left;
      color: var(--white)
    }

    #cart-header{
      display: grid;
      grid-template-columns: 1fr 1.5fr;
    }

    #cart-dropdown img{
      width: 22%;
      height: auto;
      margin: .25rem 0 .25rem 4rem;
    }

    #cart-header img{
      filter: invert(1);
      margin-top: 2.35rem;
    }

    #cart-shop{
      display: grid;
      grid-template-columns: 2fr 1fr;
      border-bottom: 2px solid var(--dark-green);
      margin-bottom: 4rem;
    }

    #cart-btn{
      font-family: var(--sub-title);
      font-size: 16pt;
      text-align: left;
      color: var(--white);
    }

    #cart-dropdown p{
      margin-top: .5rem;
      text-align: center;
      font-family: var(--sub-title);
      font-size: 16pt;
      color: var(--white)
    }

    #cart-dropdown button{
      display: block;
      margin: 1rem auto;
      background: var(--super-dg);
      color: var(--white);
      padding: .5rem 2rem;
      border-radius: 1rem;
      font-family: var(--sub-title);
      font-size: 12pt;
    }

    #cart-dropdown button:hover{
      background: var(--light-green);
    }

    .cart-total{
      text-align: left;
      font-family: var(--sub-title);
      font-size: 16pt;
      margin-top: 1rem;
      color: var(--white)
    }

    #cart-items{
      margin: .5rem 2rem 0 2rem;
      padding: .5rem 0 0rem 0; 
    }

    #cart-items li{
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: -5rem;
    }

    #cart-items span{
      flex: 1;
    }

    .cart-total{
      margin-bottom: 1rem;
    }

    #shop{
      padding-bottom: 1.5rem;
    }

    #shop h2{
      content-visibility: hidden;
    }

    #grid-container{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: .5rem;
    }

    .plants{
      background: white;
      margin: 0 -4rem 1rem 5rem;
      border-radius: 10px;
      border: 2px solid var(--dark-green);
    }

    .plants h3{
      font-family: var(--sub-title);
      font-size: 14pt;
      text-align: center;
      padding-top: 1rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .plants img{
      width: 115px;
      height: auto;
      border-radius: 5px;
      float: left;
      margin: 0 1rem 1rem 1rem;
    }

    .plants h4{
      font-family: var(--main-text);
      font-size: 13pt;
      flex: 1;
      font-weight: bold;
      margin-bottom: .25rem;
      margin-left: 6rem;
    }

    .season {
      display: block;
      margin-left: 9.25rem;
    }

    .plants p{
      font-family: var(--main-text);
      font-size: 12pt;
      margin: .5rem;
    }

    .plants h5{
      font-family: var(--main-text);
      font-size: 13pt;
      font-weight: bold;
      margin-top: .5rem;
      margin-left: 9.25rem;
    }

    .plants button{
      float: right;
      margin: .5rem 3rem 1rem 0;
      background: var(--dark-green);
      color: var(--white);
      padding: .5rem 2rem;
      border-radius: 1rem;
      font-family: var(--sub-title);
      font-size: 12pt;
    }

    .plants button:hover{
      background: var(--super-dg);
    }

    #shop .skip-to-next{
      background: none;
      color: black;
      text-decoration: underline;
    }

    #shop .skip-to-next:hover{
      color: var(--dark-green);
    }

    #shop a {
      background: var(--super-dg);
      color: var(--white);
      padding: 1rem 2rem;
      border-radius: 1rem;
      font-family: var(--sub-title);
      font-size: 12pt;
      display: block;
      margin-left: 30rem;
      width: fit-content;
      text-decoration: none;
    }

    #view-more:hover{
background: var(--light-green);
    }

    #learn{
      margin-bottom: 6rem;
    }

    #learn h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2rem 0 1.5rem 0;
    }

    #learn-container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .15rem;
      justify-items: center;
      max-width: 85%;
      margin: 0 auto;
      margin-bottom: 3rem;
    }

    .tips{
      background: white;
      border-radius: 10px;
      border: 2px solid var(--dark-green);
      width: 95%;
      height: 105%;
      padding-left: 1rem;
    }

    .learn-float{
      display: flex;
    }

    .tips img{
      width: 40%;
      height: auto;
      margin-left: 1rem;
      border-radius: 10px;
    }

    .tips h3{
      font-family: var(--sub-title);
      font-size: 18pt;
      margin: 1.5rem 0 1rem 1rem;
    }

    .tips p{
      font-family: var(--main-text);
      font-size: 13pt;
      line-height: 1.5rem;
      margin: 0 2rem 0 1rem;
    }

    .tips a{
      display: block;
      text-align: center;
      margin: 0.5rem 0 0 1.35rem;
      color: black;
    }

    .tips a:hover{
      color: gray;
    }

    #about{
      margin-top: 2rem;
      padding: 3rem 0 3rem 0;
      background: var(--dark-green);
      margin-bottom: 4rem;
    }

    #about h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin-bottom: 1.5rem;
      color: var(--white);
    }

    #about p{
      font-family: var(--main-text);
      font-size: 13pt;
      margin: 0 15rem;
      text-align: center;
      color: var(--white);
    }

    #about img{
      width: 6%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
    
    #contact h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2rem 0 1.5rem 0;
    }

    label, fieldset{
      font-family: var(--sub-title);
      font-size: 16pt;
    }

    label{
      margin-left: -1rem;
      margin-bottom: 1rem;
      color: var(--white);
    }

    #top{
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      margin-bottom: 1rem;
      margin: 0 9rem;
    }

    #bottom{
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      margin: 0 9rem;
    }

    fieldset{
      text-align: center;
      margin-top: 2rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #contact{
      background: var(--dark-green);
      margin: 2rem 15rem 0;
      padding: .15rem 2rem 1rem 2rem;
      border-radius: 2rem;
    }

    #contact h2{
      color: var(--white);
    }

    form input{
      margin-bottom: 1rem;
      width: 300%;
      height: 1rem;
    }

    fieldset label{
      margin-left: 12rem;
    }

    fieldset input{
      width: 25%;
    }

    textarea{
      width: 300%;
    }

    legend{
      color: var(--white);
      margin-bottom: 1rem;
      margin-left: 1rem;
    }

    #submit input{
      display: block;
      margin: 1rem auto;
      color: black;
      background: var(--white);
      padding: .5rem 2.5rem;
      border-radius: 1rem;
      font-family: var(--sub-title);
      font-size: 12pt;
      width: 15%;
      height: auto;
    }

    #submit input:hover{
background: var(--light-green);
    }

    .error {
      color: red;
      text-align: center;
      display: block;
      font-weight: bold;
    }

    #form-message{
      color: var(--white);
      text-align: center;
    }

    footer {
      background: var(--dark-green);
      margin-top: 5rem;
    }

    footer img{
      width: 20%;
      height: auto;
      margin: 0 auto;
      display: block;
    }

    footer h2{
      font-family: var(--main-title);
      font-size: 22pt;
      text-align: center;
      font-weight: bold;
      margin: 2.5rem 0 0 0;
      padding-top: 3rem;
      color: var(--white);
    }

    .icon-container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      filter: invert(1);
      width: 40%;
      height: auto;
      gap: 1rem;
      padding-bottom: 0rem;
      margin: 0 27rem 3rem 27rem;
    }

    footer a{
      font-family: var(--sub-title);
      font-size: 12pt;
      color: black;
      display: block;
      background: var(--white);
      padding: 1rem 2rem;
    }

    #footer a:hover{
      color: var(--dark-green);
    }

    .skip-to-next{
      color: black;
      font-family: var(--sub-title);
      font-size: 12pt;
      text-align: left;
      margin: 4rem 21rem 2rem 35rem;
      background: var(--white);
      border: 2px solid var(--dark-green);
      border-radius: 2rem;
      padding: .5rem;
    }

    .skip-to-next:hover{
      color: gray;
    }
