/*clear sheet*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*root variables*/
:root {
    --light-green: #AABC5C;
    --dark-green: #565F29;
    --white: #F2F3EE;
    --orange: #FAA32F;
    --bright-pink: #DA1C5C;
    --light-pink: #FABEB7;
    --main-title: "Arima", system-ui;
    --sub-title: "Google Sans Flex", sans-serif;
    --main-text: sans-serif;

}

    /* main fonts imported */
    .arima-uniquifier {
        font-family: "Arima", system-ui;
        font-weight: bold;
        font-style: normal;
      }

      .google-sans-flex-uniquifier {
        font-family: "Google Sans Flex", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
          "slnt" 0,
          "wdth" 100,
          "GRAD" 0,
          "ROND" 0;
      }

      body{
        font-family: var(--main-text);
        padding-top: 2.5rem;
        background: #F2F3EE;
      }
    
      h1, h2{
        font-family: var(--main-title);
      }
    
      h3{
        font-family: var(--sub-title);
      }
      
    #skip {
    color: black;
    background: var(--white);
    display: block;
    width: 100%;
    padding-top: .75rem;
    position: absolute;
    top: 0;
    }

    header{
      background: var(--dark-green);
      color: var(--white);
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }

    .header-left{
      display: flex;
      align-items: center;
    }

    .header-left img{
      width: 80px;
      height: auto;
    }

    h1{
      font-size: 2.5rem;
      margin: 0;
    }

    .header-right{
      display: flex;
      align-items: center;
    }

    header nav ul {
      display: flex;
      list-style: none;
      gap: 1rem;
      margin-right: .5rem;
    }

    header nav ul li a img {
      width: 25px;
      height: auto;
      vertical-align: middle;
    }

    header ul a {
      text-decoration: none;
      color: black;
      margin-right: 1rem;
    }

    #color-mode {
      width: 50px;
      height: auto;
      margin-right: 3rem;
    }


